node_modules
public
.tmp
.sass-cache
.idea
client/bower_components
dist
/server/config/local.env.js
client/assets/images/header-0.jpg
client/assets/images/header-1.jpg
client/assets/images/header-2.jpg
client/assets/images/header-3.jpg
client/assets/images/header-4.jpg
client/assets/images/header-5.jpg
client/assets/images/header-6.jpg
client/assets/images/header-7.jpg
client/assets/images/header-8.jpg
client/assets/images/header-9.jpg