footer(ng-controller='FooterCtrl').page-footer
  .container
    .row
      .col.l1.s12

      .col.l5.s11
        h5.white-text(data-i18n="common.contact")
        .col.s1
          p.white-text
            i.fa.fa-phone
          p.white-text 
            i.fa.fa-fax
          p.white-text
            i.fa.fa-map-marker
        .col.s11
          p.white-text 410-355-5555
          p.white-text 410-355-0620
          p.white-text 801 West Patapsco Avenue 
          p.white-text Baltimore, MD 21230
      .col.l3.offset-l3.s12
        h5.white-text(data-i18n="common.site")
        .col.s1.m1.l1
          ul
            li(ng-repeat='item in menu')
              a(ng-href='{{item.link}}').white-text
                i.fa.fa-arrow-circle-o-right
        .col.s11.l10
          ul
            li(ng-repeat='item in menu', ng-class='{active: isActive(item.link)}')
              a.white-text(ng-href='{{item.link}}', data-i18n="common.{{item.title}}")
  .footer-copyright
    .container
      &copy UBC Local 101
      .right
        span(data-i18n="main.footer-developed")
        = " "
        a.white-text.new.badge(href='https://www.jose-canahui.com/' target='_blank') Jose Canahui