.collapsible-body {
	background-color: white;
}
.pres {
	.card {
		height: 300px;
		display: table-cell;
		vertical-align: middle;
		img {
			max-height: 200px;
		}
	}
}
.sm_pres {
	img {
		height: 30px;
		margin-top: 5px;
	}
}