div(ng-include='"components/navbar/navbar.html"')

.row
	.col.s12.m10
		#mission.section.scrollspy
			br
			.row
				h1.thin.center-align Our Mission
			hr
			.row
				.card
					.card-content
						p.flow-text.center-align We believe in a fair day’s work for a fair day’s pay. We produce wealth for our contractors and expect a fair share of that wealth. We encourage employers to pay area standard wages and benefits for each area. We discourage and act upon contractors that exploit workers and hurt our way of living.


	
		#misclassification.section.scrollspy
			.row
				h1.thin.center-align Worker Misclassification
			hr
			.row
				.video-container.no-controls
					iframe(type="text/html" width="853" height="480px" src="http://www.youtube.com/embed/mqeLHjyIXzo?autoplay=0&loop=0&showinfo=0&theme=dark&color=red&controls=1&modestbranding=0&start=0&fs=1&iv_load_policy=1&wmode=transparent&rel=1" frameborder="0" allowfullscreen)
			

	
		#abuse.section.scrollspy
			.row
				h1.thin.center-align Worker Abuse
			hr
			.row
				.col.s12
					.card
						.card-content
							h6 Sometimes in a desperation or intentional act, contractors look for ways to cut cost an increase profit by cheating the system and offering substandard wages and working conditions. Unfortunately, employees become victims of these acts. Below are some examples of some of the schemes practiced:
				
				//- Tabs that will show only on big devices, not phones:
				.col.s12.hide-on-small-only
					ul.tabs
						li.tab.col.s3.active
							a.truncate(href="#test1") Overtimes
						li.tab.col.s3
							a.truncate(href="#test2") Davis Bacon Act
						li.tab.col.s3
							a.truncate(href="#test3") Payroll Fraud
						li.tab.col.s3
							a.truncate(href="#test4") Work Safety
				#test1.col.s12.hide-on-small-only
					.card
						.card-content
							span.card-title.black-text Overtimes
							p In construction, people works usually full time all year round. When working overtime, they get pay time and a half on hours worked after 40 per week, because of federal laws. It is a way to reward the extra effort to get the job done. If you or someone you know are not getting paid overtime, you can apply to recover it. US Department of Labor has an office near you. You can also consult here for a list of worker oriented organizations that provide legal advise and brief services. Doing nothing only rewards bad behavior and increases the problem. It is your time, ACT!
						.card-action
							a(target="_blank" href="http://www.dol.gov/whd/resources/kyrvideo.htm") Learn More
				#test2.col.s12.hide-on-small-only
					.card
						.card-content
							span.card-title.black-text Davis Bacon Act
							p my content
						.card-action
							a(target="_blank" href="http://www.dol.gov/compliance/guide/dbra.htm") Learn More
				#test3.col.s12.hide-on-small-only
					.card
						.card-content
							span.card-title.black-text Payroll Fraud
							p my content
						.card-action
							a(target="_blank" href="http://www.payrollfraud.net/") Learn More
				#test4.col.s12.hide-on-small-only
					.card
						.card-content
							span.card-title.black-text Work Safety
							p my content
						.card-action
							a(target="_blank" href="https://www.osha.gov/as/opa/worker/complain.html") Learn More
			.row.hide-on-med-and-up
				//-Collapsible that will only be visible in mobile devices (small screens)
				ul.collapsible(data-collapsible="accordion")
					li
						.collapsible-header Overtimes
						.collapsible-body
							p.flow-text In construction, people works usually full time all year round. When working overtime, they get pay time and a half on hours worked after 40 per week, because of federal laws. It is a way to reward the extra effort to get the job done. If you or someone you know are not getting paid overtime, you can apply to recover it. US Department of Labor has an office near you. You can also consult here for a list of worker oriented organizations that provide legal advise and brief services. Doing nothing only rewards bad behavior and increases the problem. It is your time, ACT!
							div.center-align
								a.waves-effect.waves-light.btn(target="_blank" href="http://www.dol.gov/whd/resources/kyrvideo.htm") Learn More
							br
					li
						.collapsible-header Davis Bacon Act
						.collapsible-body
							p.flow-text In construction, people works usually full time all year round. When working overtime, they get pay time and a half on hours worked after 40 per week, because of federal laws. It is a way to reward the extra effort to get the job done. If you or someone you know are not getting paid overtime, you can apply to recover it. US Department of Labor has an office near you. You can also consult here for a list of worker oriented organizations that provide legal advise and brief services. Doing nothing only rewards bad behavior and increases the problem. It is your time, ACT!
							div.center-align
								a.waves-effect.waves-light.btn(target="_blank" href="http://www.dol.gov/compliance/guide/dbra.htm") Learn More
							br
					li
						.collapsible-header Payroll Fraud
						.collapsible-body
							p.flow-text In construction, people works usually full time all year round. When working overtime, they get pay time and a half on hours worked after 40 per week, because of federal laws. It is a way to reward the extra effort to get the job done. If you or someone you know are not getting paid overtime, you can apply to recover it. US Department of Labor has an office near you. You can also consult here for a list of worker oriented organizations that provide legal advise and brief services. Doing nothing only rewards bad behavior and increases the problem. It is your time, ACT!
							div.center-align
								a.waves-effect.waves-light.btn(target="_blank" href="http://www.payrollfraud.net") Learn More
							br
					li
						.collapsible-header Work Safety
						.collapsible-body
							p.flow-text In construction, people works usually full time all year round. When working overtime, they get pay time and a half on hours worked after 40 per week, because of federal laws. It is a way to reward the extra effort to get the job done. If you or someone you know are not getting paid overtime, you can apply to recover it. US Department of Labor has an office near you. You can also consult here for a list of worker oriented organizations that provide legal advise and brief services. Doing nothing only rewards bad behavior and increases the problem. It is your time, ACT!
							div.center-align
								a.waves-effect.waves-light.btn(target="_blank" href="https://www.osha.gov/as/opa/worker/complain.html") Learn More
							br


	
		#organizations.section.scrollspy
			.row
				h1.thin.center-align Worker Defense Organizations
			hr
			.row
				.col.s12.l4
					.card
						.card-content
							span.card-title.black-text More Justice, Less Poverty
							p The Legal Aid Justice Center represents workers in disputes involving discrimination, unpaid wages, Family and  Medical Leave Act, and other employment law issues, and assist them with unemployment insurance cases. We also participate in local and statewide efforts to foster increases in minimum and living wage standards, and for other policies that further workers’ rights.
						.card-action
							a(href="#" target="_blank") Visit Center
				.col.s12.l4
					.card
						.card-content
							span.card-title.black-text Employment Justice Center
							p The Employment Justice Center is working to secure, protect and promote workplace justice in the D.C. metro area.
						.card-action
							a(href="#" target="_blank") Visit EJC
				.col.s12.l4
					.card
						.card-content
							span.card-title.black-text Building a Just Society
							p The Public Justice Center works with people and communities to confront the laws, practices, and institutions that cause injustice, poverty, and discrimination. We advocate in the courts, legislatures, and government agencies, educate the public, and build coalitions, all to advance our mission of “pursuing systemic change to build a just society.”
						.card-action
							a(href="#" target="_blank") Visit PJC


		#presidents.section.scrollspy
			.row
				h1.thin.center-align Presidential Quotes
			hr
			.row 
				//- Tabs that will show only on big devices, not phones:
				.col.s12.hide-on-small-only
					ul.tabs
						li.tab.col.s3.active
							a.truncate(href="#abraham") Lincoln
						li.tab.col.s3
							a.truncate(href="#roosevelt") Roosevelt
						li.tab.col.s3
							a.truncate(href="#truman") Truman
						li.tab.col.s3
							a.truncate(href="#eisenhower") Eisenhower
						li.tab.col.s3
							a.truncate(href="#carter") Carter
						li.tab.col.s3
							a.truncate(href="#kennedy") Kennedy
				#abraham.col.s12.hide-on-small-only.pres
					.card
						.card-content
							.col.s12.m4.pic
								img.circle.responsive-img(src="assets/images/abe.png")
							.col.s12.m8
								blockquote
									p Labor is prior to, and independent of, capital. Capital is only the fruit of labor, and could never have existed if Labor had not first existed. Labor is superior to capital, and deserves much the higher consideration.
									footer -
										cite(title="Abraham Lincoln") Abraham Lincoln 
								blockquote
									p If any man tells you he loves America, yet hates labor, he is a liar. If any man tells you he trusts America, yet fears labor, he is a fool.
									footer -
										cite(title="Abraham Lincoln") Abraham Lincoln 
				#roosevelt.col.s12.hide-on-small-only.pres
					.card
						.card-content
							.col.s12.m4.pic
								img.circle.responsive-img(src="assets/images/franklin.jpg")
							.col.s12.m8
								blockquote
									p No business which depends for existence on paying less than living wages to its workers has any right to continue in this country. By living wages I mean more than a bare subsistence level --I mean the wages of decent living.
									footer -
										cite(title="Franklin D. Roosevelt") Franklin D. Roosevelt
				#truman.col.s12.hide-on-small-only.pres
					.card
						.card-content
							.col.s12.m4.pic
								img.circle.responsive-img(src="assets/images/harry.jpg")
							.col.s12.m8
								blockquote
									p It is time that all Americans realized that the place of labor is side by side with the businessman and with the farmer, and not one-degree lower.
									footer -
										cite(title="Harry S. Truman") Harry s. Truman
				#eisenhower.col.s12.hide-on-small-only.pres
					.card
						.card-content
							.col.s12.m4.pic 
								img.circle.responsive-img(src="assets/images/dwight.jpg")
							.col.s12.m8
								blockquote
									p Today in America, unions have a secure place in our industrial life. Only a handful of reactionaries harbor the ugly thought of breaking unions and depriving working men and women of the right to join the union of their choice. I have no use for those -- regardless of their political party -- who hold some vain and foolish dream of spinning the clock back to days when organized labor was huddled, almost as a hapless mass. Only a fool would try to deprive working men and women of the right to join the union of their choice.
									footer -
										cite(title="Dwight D. Eisenhower") Dwight D. Eisenhower 
				#carter.col.s12.hide-on-small-only.pres
					.card
						.card-content
							.col.s12.m4.pic 
								img.circle.responsive-img(src="assets/images/jimmy.jpg")
							.col.s12.m8
								blockquote
									p Every advance in this half-century--Social Security, civil rights, Medicare, aid to education, one after another--came with the support and leadership of American Labor.
									footer -
										cite(title="Jimmy Carter") Jimmy Carter
				#kennedy.col.s12.hide-on-small-only.pres
					.card
						.card-content
							.col.s12.m4.pic 
								img.circle.responsive-img(src="assets/images/john.png")
							.col.s12.m8
								blockquote
									p Our labor unions are not narrow, self-seeking groups. They have raised wages, shortened hours, and provided supplemental benefits. Through collective bargaining and grievance procedures, they have brought justice and democracy to the shop floor. 
									footer -
										cite(title="John F. Kennedy") John F. Kennedy
			.row.hide-on-med-and-up
				//-Collapsible that will only be visible in mobile devices (small screens)
				ul.collapsible.sm_pres(data-collapsible="accordion")
					li
						.collapsible-header 
							span.left-align Abrham Lincoln
							img.circle.responsive-img.secondary-content(src="assets/images/abe.png")
						.collapsible-body
							p.flow-text In construction, people works usually full time all year round. When working overtime, they get pay time and a half on hours worked after 40 per week, because of federal laws. It is a way to reward the extra effort to get the job done. If you or someone you know are not getting paid overtime, you can apply to recover it. US Department of Labor has an office near you. You can also consult here for a list of worker oriented organizations that provide legal advise and brief services. Doing nothing only rewards bad behavior and increases the problem. It is your time, ACT!
					li
						.collapsible-header 
							span Franklin D. Roosevelt
							img.circle.responsive-img.secondary-content(src="assets/images/franklin.jpg")
						.collapsible-body
							p.flow-text In construction, people works usually full time all year round. When working overtime, they get pay time and a half on hours worked after 40 per week, because of federal laws. It is a way to reward the extra effort to get the job done. If you or someone you know are not getting paid overtime, you can apply to recover it. US Department of Labor has an office near you. You can also consult here for a list of worker oriented organizations that provide legal advise and brief services. Doing nothing only rewards bad behavior and increases the problem. It is your time, ACT!
					li
						.collapsible-header 
							span Harry S. Truman
							img.circle.responsive-img.secondary-content(src="assets/images/harry.jpg")
						.collapsible-body
							p.flow-text In construction, people works usually full time all year round. When working overtime, they get pay time and a half on hours worked after 40 per week, because of federal laws. It is a way to reward the extra effort to get the job done. If you or someone you know are not getting paid overtime, you can apply to recover it. US Department of Labor has an office near you. You can also consult here for a list of worker oriented organizations that provide legal advise and brief services. Doing nothing only rewards bad behavior and increases the problem. It is your time, ACT!
					li
						.collapsible-header 
							span Dwight D. Eisenhower
							img.circle.responsive-img.secondary-content(src="assets/images/dwight.jpg")
						.collapsible-body
							p.flow-text In construction, people works usually full time all year round. When working overtime, they get pay time and a half on hours worked after 40 per week, because of federal laws. It is a way to reward the extra effort to get the job done. If you or someone you know are not getting paid overtime, you can apply to recover it. US Department of Labor has an office near you. You can also consult here for a list of worker oriented organizations that provide legal advise and brief services. Doing nothing only rewards bad behavior and increases the problem. It is your time, ACT!
					li
						.collapsible-header 
							span Jimmy Carter
							img.circle.responsive-img.secondary-content(src="assets/images/jimmy.jpg")
						.collapsible-body
							p.flow-text In construction, people works usually full time all year round. When working overtime, they get pay time and a half on hours worked after 40 per week, because of federal laws. It is a way to reward the extra effort to get the job done. If you or someone you know are not getting paid overtime, you can apply to recover it. US Department of Labor has an office near you. You can also consult here for a list of worker oriented organizations that provide legal advise and brief services. Doing nothing only rewards bad behavior and increases the problem. It is your time, ACT!
					li
						.collapsible-header 
							span John F. Kennedy
							img.circle.responsive-img.secondary-content(src="assets/images/john.png")
						.collapsible-body
							p.flow-text In construction, people works usually full time all year round. When working overtime, they get pay time and a half on hours worked after 40 per week, because of federal laws. It is a way to reward the extra effort to get the job done. If you or someone you know are not getting paid overtime, you can apply to recover it. US Department of Labor has an office near you. You can also consult here for a list of worker oriented organizations that provide legal advise and brief services. Doing nothing only rewards bad behavior and increases the problem. It is your time, ACT!

		#record-keeping.section.scrollspy
			.row
				h1.thin.center-align Record Keeping
			hr
			.row
				ul.collection.with-header
					li.collection-header
						h6 Daily Logs:
							i.secondary-content.material-icons.tiny receipt
					li.collection-item ◦ Start time
					li.collection-item ◦ Quit time
					li.collection-item ◦ Place, floor, type of work performed
					li.collection-item ◦ Supervisor
					li.collection-item ◦ Break time and lunch hour
					li.collection-header
						h6 Project Information:
							i.secondary-content.material-icons.tiny announcement
					li.collection-item ◦ Name
					li.collection-item ◦ Address
					li.collection-item ◦ General Contractor 
					li.collection-item ◦ General Supervisor
					li.collection-item ◦ Project phone number
					li.collection-header
						h6 Employer:
							i.secondary-content.material-icons.tiny assignment_ind
					li.collection-item ◦ Company name, address, phone number
					li.collection-item ◦ Hiring person, telephone, plate number, type of vehicle
					li.collection-header
						h6 Employment Conditions:
							i.secondary-content.material-icons.tiny done_all
					li.collection-item ◦ Wage rate agreed
					li.collection-item ◦ Payday and location
					li.collection-item ◦ Copy of check, paystubs
	.col.hide-on-small-only.m2.l2
		ul.section.table-of-contents
			li
				a(href="#mission").truncate Mission
			li
				a(href="#misclassification").truncate Misclassification
			li
				a(href="#abuse").truncate Abuse
			li
				a(href="#organizations").truncate Organization
			li
				a(href="#presidents").truncate Presidents
			li
				a(href="#record-keeping").truncate Record Keeping

div(ng-include='"components/footer/footer.html"')