div(ng-include='"components/navbar/navbar.html"')

header#banner.hero-unit
  .container.head
    image.logo(src="assets/images/logo.png")
    h1(data-i18n="main.header-title").teal-text
    p.lead.flow-text
      b Baltimore, Md.
      //- (data-i18n="main.header-bottom")
    p.flow-text.lead(data-i18n="main.header-content").teal-text
    p.lead.flow-text
      b(data-i18n="main.header-bottom")
    i.fa.fa-angle-double-down.animated.bounce.teal-text

//- Carousel
div.slider
  ul.slides
    li(ng-repeat="slide in slides")
      img(ng-src="{{slide.image}}")
      div.caption.center-align
        h5 {{captions[$index].caption}}


.row
  h1.center-align.thin Recent News

.row
  .col.s12.m6.l3(ng-repeat="announcement in news")
    .card.blue-grey.darken-1.hoverable
      .card-content.white-text
        span.card-title {{announcement.heading}}
        p {{announcement.details}}
      .card-action
        a(href="{{announcement.url}}" target="_blank") Read More
        //https://www.youtube.com/watch?v=3-X5hCxdaLc?rel=0;autohide=1

.row(ng-show="english")
  .video-container.no-controls
    iframe(width="853" height="480" src="//www.youtube.com/embed/3-X5hCxdaLc?rel=0;autohide=1" frameborder="0" allowfullscreen)
.row(ng-show="!english")
  .video-container.no-controls
    iframe(width="853" height="480" src="//www.youtube.com/embed/iaBCBXy600E?rel=0;autohide=1" frameborder="0" allowfullscreen)
.row
  .card
    .card-title
      h1.center-align.thin.black-text JOIN OUR MOVEMENT!
      .card-content
        .join-form.row(name='joinForm', ng-submit='join.submit()')
          .col.s12.m7
            .input-field
              i.black-text.material-icons.prefix account_circle
              input#full_name(ng-model="join.name", type="email")
              label(for="full_name") Full Name
            .input-field
              i.black-text.material-icons.prefix email
              input#email.validate(ng-model="join.email", type="email")
              label(for="email") Email
            .input-field
              i.black-text.material-icons.prefix phone
              input#phone(ng-model="join.phone", type="text")
              label(for="phone") Cell Phone
            .input-field
              i.black-text.material-icons.prefix assignment_ind
              input#trade(ng-model="join.trade", type="text")
              label(for="trade") Trade

          .col.s12.m4.offset-m1.checkboxes
            h5.offset-s2.thin.black-text Mark Your Interests:

            p
              input.filled-in(type="checkbox", ng-model="join.apprenticeship", id="apprenticeship")
              label(for="apprenticeship") Apprenticeship
            p
              input.filled-in(type="checkbox", ng-model="join.certifications", id="Certifications")
              label(for="Certifications") Certifications
            p
              input.filled-in(type="checkbox", ng-model="join.wages", id="Fair Wages")
              label(for="Fair Wages") Fair Wages
            p
              input.filled-in(type="checkbox", ng-model="join.pay", id="Overtime Pay")
              label(for="Overtime Pay") Overtime Pay
            p
              input.filled-in(type="checkbox", ng-model="join.medical", id="Medical Inusrence")
              label(for="Medical Inusrence") Medical Inusurance
            p
              input.filled-in(type="checkbox", ng-model="join.retirement", id="Retirement")
              label(for="Retirement") Retirement
      .card-action
        .col.s12.m7.center-align
          .capcha.g-recaptcha(data-sitekey="6LfWoAkTAAAAAKEgqTG1O-ub5kLKJAPkirMDJoOb", data-theme="dark")
          script(src='http://www.google.com/recaptcha/api.js')
        .col.s12.m5.center-align
          button.join-submit.btn-large.waves-effect.waves-light(type="submit", name="action") Submit  
            i.material-icons.right send

div(ng-include='"components/footer/footer.html"')

//- footer.footer
//-   .container
//-     p
//-       | &copy UBC Local 101
//-       = ' | ' 
//-       span(data-i18n="main.footer-developed") 
//-       =' '
//-       a(href='https://www.jose-canahui.com/' target='_blank') Jose Canahui
//-       = ' | '
//-       a(href='https://github.com/DaftMonk/generator-angular-fullstack/issues?state=open', data-i18n="main.footer-support")

      //- .language
      //- p spanish
      //- //- {{language.inactive}}