div(ng-include='"components/navbar/navbar.html"')

.row
	//- Main Content
	.col.s12.m10
		br
		h1.center-align.thin(data-i18n='contractors.contracting')
		hr
		.card-panel
			p.flow-text
				span(data-i18n='contractors.needs')
				a.modal-trigger(href='#offices', data-i18n='contractors.council-offices')
		br
		h1.center-align.thin(data-i18n='contractors.subcontracting')
		hr
		.card-panel
			p.flow-text
				span(data-i18n='contractors.subContent')
				a.modal-trigger(href='#list', data-i18n='contractors.here')
		br
		h1.center-align.thin(data-i18n='contractors.visit')
		hr
		.card
			.card-content
				p.flow-text(data-i18n='contractors.visit-content')
			.card-action
				p
					i.material-icons.left phone
					span phone
				p
					i.material-icons.left mail
					span email
		br
		h1.center-align.thin(data-i18n='contractors.crafts')
		hr
		.col.s12.m4(ng-repeat='job in jobs')
			.card.medium
				.card-image.waves-effect.waves-block.waves-light
					img.activator(src="{{job.image}}")
					
				.card-content
					p.activator.card-title
						span(data-i18n='contractors.{{job.name}}')
						i.material-icons.right more_vert
					p
						a(href="{{job.link}}", target="_blank")
							span(data-i18n='contractors.read-more')
							
				.card-reveal
					span.card-title.grey-text.text-darken-4
						span(data-i18n='contractors.{{job.name}}')
						i.material-icons.right close
					p(data-i18n='contractors.{{job.name}}Content')

	//-END: Main Content

//- MODALS
#offices.modal.bottom-sheet
	.modal-content
		ul.collection.with-header
			li.collection-header
				h4(data-i18n='contractors.offices')
			li.collection-item.avatar
				i.material-icons.circle folder
				span Local 101
				p (704) 894 4545
				= '4587 Dolly Rd. Woodbridge, VA. 22021'
			li.collection-item.avatar
				i.material-icons.circle folder
				span Local 101
				p (704) 894 4545
				= '4587 Dolly Rd. Woodbridge, VA. 22021'
			li.collection-item.avatar
				i.material-icons.circle folder
				span Local 101
				p (704) 894 4545
				= '4587 Dolly Rd. Woodbridge, VA. 22021'
	.modal-footer
		a.modal-action.modal-close.waves-effect.waves-red.btn-flat(href="#") Close

#list.modal.modal-fixed-footer
	.modal-content
		h4.center-align.thin.uppercase(data-i18n='contractors.receive')
		
	.modal-footer
		a.modal-action.modal-close.waves-effect.waves-red.btn-flat(href="#") Close
		a.modal-action.modal-close.waves-effect.waves-green.btn-flat(href="#") Submit

//- FOOTER
div(ng-include='"components/footer/footer.html"')